:root {
  --steel-blue: #4F7CAC;
  --powder-blue: #C0E0DE;
  --dark-jungle-green: #162521;
  --charcoal: #3C474B;
  --middle-blue-gree: #9EEFE5;
}


* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: var(--charcoal);
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--powder-blue);
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  color: var(--steel-blue)
}

.nav-item {
  text-decoration: none;
  color: var(--steel-blue);
  font-size: 16px;
  padding: 10px;
  transition: color 0.5s;
}

.nav-item:hover {
  color: var(--charcoal)
}

.nav-item.contato {
  border: 3px solid var(--charcoal);
  color: var(--charcoal);
  border-radius: 25px;
  transition: background-color 0.5s;
}

.nav-item.contato:hover {
  color: var(--powder-blue);
  background-color: var(--charcoal);
}

main > div {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.par {
  background-color: var(--middle-blue-gree);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

p, span {
  font-weight: 300;
}

#apresentacao h1 {
  margin-bottom: 0px;
}

#apresentacao h2 {
  margin-top: 0px;
}

#apresentacao p {
  text-align: center;
  margin: 24px;
  width: 1000px;
}

.card-container-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.projeto {
  border: 3px solid var(--charcoal);
  border-radius: 10px;
  background-color: var(--powder-blue);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  width: 300px;
  height: 400px;
  margin: 10px 30px;
  overflow: hidden;
}

.projeto > img {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
}

.projeto h2 {
  margin: 0px;
  padding: 0px;
}

.projeto p {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

.projeto a img {
  height: 25px;
}

#formacoes, #experiencias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formacao, .experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formacao h2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.empresa {
  margin-bottom: 0px;
}

.descricao-experiencia {
  margin: 24px;
  width: 1000px;
  text-align: center;
}