* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 5px;
}

li:hover {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    form > * {
        margin: 3px 0px;
    }

    section {
        flex-direction: column;
        height: fit-content;
    }

    .semana {
        width: 100%;
        height: 200px;
    }
}