* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  height: 100vh;
}

header {
  display: flex;
  background-color: #323031;
  justify-content: space-between;
  align-items: stretch;
  height: 75px;
}

#logo {
  margin: 10px;
  text-decoration: none;
  color: #C1BDB3;
  padding: 10px 0;
}

nav {
  display: flex;
  margin: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: #C1BDB3;
  font-size: 20px;
  margin: 0px 10px;
  padding: 20px 5px;
}

.nav-item:hover {
  background-color: #7F7979;
}