* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  color: #C1BDB3;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #323031;
  justify-content: space-between;
  align-items: stretch;
  height: 75px;
}

#logo {
  margin: 10px;
  text-decoration: none;
  color: #C1BDB3;
  padding: 10px 0;
}

nav {
  display: flex;
  margin: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  border-radius: 30px;
  text-decoration: none;
  color: #C1BDB3;
  font-size: 20px;
  margin: 0px 10px;
  padding: 10px;
}

.nav-item:hover {
  background-color: #7F7979;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #3D3B3C;
  flex: 1;
}

th, tr, td {
  border: 1px solid black;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

table {
  margin-top: 50px;
}

.capa-jogo {
  height: 100px;
}