* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #08090a;
  background-color: #eef0f1;

  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 54px;
  background-color: white;
  padding: 8px 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  

  display: flex;
  justify-content: space-between;
}

header > div:first-child {
  display: flex;

}

.logo {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

#search-bar {
  width: 420px;
  background-color: #f9fafa;
  border: 1px solid #b5bdc4;
  border-radius: 3px;
  padding: 7px 8px;
  outline: none;
  margin: 0px 16px;
}

#search-bar:focus {
  border-color: #3b49df;
  box-shadow: 1px 1px 0 #3b49df;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-nav > a {
  display: flex;
  align-items: center;

  height: 100%;
  text-decoration: none;
  color: inherit;
  margin: 0px 4px;
}

.nav-icon {
  opacity: 0.75;
  height: 25px;
  width: 25px;
}

.nav-icon:hover {
  opacity: 1;
}

.write-a-post-button {
  cursor: pointer;
  height: 100%;
  color: #f9fafa;
  background-color: #3b49df;
  padding: 8px 16px;
  outline: none;
  border: none;
  margin-right: 8px;
}

.write-a-post-button:hover {
  background-color: #1827c3;
}

.page-wrapper {
  padding: 80px 100px 0px 100px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin: 10px 0px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.page-wrapper-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

aside.page-wrapper-item {
  width: 240px;
}

main.page-wrapper-item {
  padding: 0px 30px;
  border: none;
  box-shadow: none;
  background-color: #eef0f1;
}

aside > nav {
  display: flex;
  flex-direction: column;
}

aside > p {
  color:  grey;
  font-size: 12px;
}

.tags-nav-bar > a {
  margin: 10px 0px;
  text-decoration: none;
  color: #08090a;
  font-weight: bold;
}

.filters > button {
  padding: 5px 10px;
  margin: 0px 10px;
  outline: none;
  border: none;
  font-weight: bold;
}

.filters > button:focus {
  background-color: lightblue;
  box-shadow: 3px 3px 1px #3b49df;
  border: 1px solid #3b49df;
}

