* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header, footer {
  height: 60px;
  background-color: brown;
}

article {
  border: 1px solid brown;
  margin: 10px;
  text-align: center;
}