* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 60px;
  background-color: brown;
  padding: 10px;
}

#logo {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

form {
  height: 80%;
}

input {
  outline: none;
  border: none;
  height: 100%;
  padding: 5px;
}

article {
  border: 1px solid brown;
  margin: 10px;
  text-align: center;
}