body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;

    display: grid;
    grid-template: 1fr / 1fr;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 4fr 1fr;
}

#top-container {
    display: grid;
    grid-template: 1fr / 25% 75%;
}

.green-background {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: green;
}

.yellow-background {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: yellow;
}

.pink-background {
    background-color: fuchsia;
    
    display: grid;
    align-items: center;
    justify-items: center;
}

#middle-container {
    display: grid;
    grid-template: 1fr / 2fr repeat(2, 1fr);
}

.blue-background {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: blue;
    height: 100%;
}

#vertical-middle-container {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
}

.red-background {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: red;
    height: 100%;
}

.lightgreen-background {
    display: grid;
    align-items: center;
    justify-items: center;
    
    background-color: lightgreen;
    height: 100%;
}

.purple-background {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: purple;
    height: 100%;
}