.share-container {
  display: flex;
  justify-content: space-between;
}

.share-container > input {
  flex-grow: 1;
  margin: 10px;
  font-size: 1rem;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 5px 10px;
}